/* アニメーション */
@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide1-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    animation: fadeInSlide 0.6s ease-out;
}

.s1-accent-bar {
    width: 100%;
    height: 6px;
    background-color: #00A0E9;
    border-radius: 3px;
    margin-bottom: 2rem;
}

.s1-title {
    color: #fff;
    margin-bottom: 2.5rem;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

.s1-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.s1-main {
    padding: .5rem 2rem;
    display: block;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.3;
}

.s1-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.6;
    margin-bottom: 3rem;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.s1-features {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黒透過 */
    padding: 2rem 4rem;
    border-radius: 12px;
    margin-bottom: 4rem;
    backdrop-filter: blur(4px);
    text-align: left;
}

.s1-features li {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.s1-features li:last-child {
    margin-bottom: 0;
}

.s1-check {
    background-color: #FFC107;
    color: #000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 18px;
}

.s1-footer {
    font-size: 1.1rem;
    opacity: 0.8;
}

.s1-company {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}